:root {
    --white: #fff;
    --dark: #1C1A1A;
    --indigo: #4B0082;
}

body {
    color: var(--white);
}

/* ------------------------ answer style --------------------------- */

.answer-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: var(--indigo);
    font-size: 3rem;
    min-width: 80rem;
}

.answer-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(141, 64, 204, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}
.answer-prefix {
    padding: 2rem 2.5rem;
    color: var(--white);
}

.answer-text {
    padding: 2rem;
    width: 100%;
}

/* ---------------- answer style end ---------------------------------- */

/* ---------------- answer result style ------------------------------- */

.correct {
    background: rgba(11, 223, 36) 0%, rgba(41, 232, 111) 100%;
}

.incorrect {
    background: rgba(230, 29, 29, 1) 0%, rgba(224, 11, 11, 1) 100%;
}

/* ---------------- answer result style end ---------------------------- */

/* --------------------- media queries --------------------------------- */

@media screen and (max-width: 768px) {
    .answer-container {
        min-width: 40rem;
    }
}

/* --------------------- media queries end ------------------------------*/